a.button, button {
    display: inline-block; 
    padding: 5px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; 
    font-size: 12px; 
    color: #3C3C3D; 
    text-shadow: 1px 1px 0 #FFFFFF; 
    background: #ECECEC url('../images/css3buttons_backgrounds.png') 0 0 no-repeat; 
    white-space: nowrap; 
    overflow: visible; 
    cursor: pointer; 
    text-decoration: none; 
    border: 1px solid #CACACA; 
    border-radius: 2px; 
    outline: none; 
    position: relative; 
    zoom: 1; 
    line-height: 1.11; 
    *display: inline; 
    *vertical-align: middle; 
    top:20px; 
}
button { 
    margin-left: 0; 
    margin-right: 0; 
    *padding: 5px 5px 3px 5px;
}


a.button.primary, button.primary { 
    font-weight: bold 
}
button:focus,a.button:hover, 
button:hover { 
    color: #FFFFFF; 
    border-color: #388AD4; 
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    background-position: 0 -40px;
    background-color: #2D7DC5; 
}
a.button:active, button:active,
a.button.active, button.active { 
    background-position: 0 -81px;
    border-color: #347BBA; 
    background-color: #0F5EA2; 
    color: #FFFFFF; 
    text-shadow: none; 
}
a.button:active, button:active { 
    top: 1px 
}
a.button.left, button.left { 
    margin-right: 0px; border-right: none;
}
a.button.middle, button.middle { 
    margin-right: 0px; 
    margin-left: 0px; 
    border-radius: 0px; 
    border-right: none; }
    a.button.right, button.right { 
        margin-left: 0px; 
    }
    a.button.left:active, button.left:active,
    a.button.middle:active, button.middle:active,
    a.button.right:active, button.right:active {
        top: 0px 
    }


